* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #121519;
    color: 	white;
    padding: 10px;
}

.right-nav {
    text-align: right;
    padding-right: 20px;
}

.left-nav  {
    padding-left: 20px;
}

.hero {
    height: 900px;
    background-color: #24292e;
}

.footer {
    text-align: center;
    background-color: #121519;
    padding: 12px;
    color: white;
}