*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

p, h1, h2, h3{
    color: whitesmoke;
    font-family: 'Space Mono', monospace;
}
.website-container{
    display:grid;
}

.top-bar{
    background-color: lightskyblue;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.green-circle, .red-circle, .yellow-circle{
    width: 12px;
    padding-bottom: 3px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 0px;
    border-radius: 1000px;
}
.red-circle:hover{
    background-color: #FF0000;
}
.yellow-circle:hover{
    background-color: #FFFF00;
}
.circle3:hover{
    background-color: #00FF00;
    
}

.hero{
    background-color: rgb(0, 0, 0, .95);
    height: 100vh;   
    
}

.nav-bar{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(0, 0, 0, .95);
}

.smile{
    width: 35px;
}

.left-nav{
    padding-left: 35px;
    padding-top: 25px;
}

.right-nav{
    text-align: right;
    padding-right: 20px;
    padding-top: 25px;
}

.title{
    padding-top: 150px;
    padding-left: 40px;
    font-size: 60px;
    font-weight: 800;
}

.description{
    padding-left: 40px;
}