* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

p, h1, h2, h3{
    color: whitesmoke;
    font-family: 'Space Mono', monospace;
}
.website-container{
    display:grid;
    background-color: black;
   
}

.top-bar{
    background-color: lightskyblue;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 10px;
}
.green-circle, .red-circle, .yellow-circle{
    width: 12px;
    border-radius: 1000px;
}

.hero{
    background-color: black;
    height: 100vh;   
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.nav-bar{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
}

.smile{
    width: 35px;
}

.left-nav{
    padding-left: 35px;
    padding-top: 25px;
}

.right-nav{
    text-align: right;
    padding-right: 20px;
    padding-top: 25px;
}

.title{
    padding-left: 40px;
    font-size: 60px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
    width: 850px;
    
    margin: 0 auto;
    border-right: .15em solid white;

    display: inline-block;
    
    animation:
        typing 3s steps(20),
        cursor 0.8s linear infinite alternate;
}

@keyframes cursor {
    from, to {border-color: transparent}
    50% {border-color: white}
}

@keyframes typing {
    from {width: 0}
}

.description{
    padding-left: 40px;
}

#appearingCode {
    color: white;
    padding-left: 40px;
}

#box {
    display: none;
    color: white;
    padding-left: 40px;
    padding-top: 50px;
    text-align: center;
    background-color: black;
    padding-bottom: 100px;
}

#textBox {
    width: 800px;
    height:30px;
}

#desc {
    display: none;
    padding-left: 40px;
    color: white;
    padding-bottom: 50px;
}

#chat {
    color: white;
    text-align: right;
    margin-right: 200px;
    margin-left: 200px;
    background-color: grey;
    padding-right: 50px;

}

#startButton {
    background-color: #209cee;
}

#submitButton {
    background-color: green;
}

.start-button{
    border: none;
    cursor: pointer;
    background-color: black;
    background-image: url(./pictures/start-button.png);
    background-size: cover;
  }
  
  .start-button:hover, .send-button:hover{
    opacity: .9;
    fill-opacity: 50%;
    transition-delay: 100ms;
  }
  .start-pic{
    width: 100px;
  }

  .send-pic {
    width: 70px;
  }

  .send-button{
    border: none;
    cursor: pointer;
    background-color: black;
    background-image: url(./pictures/start-button.png);
    background-size: cover;
    vertical-align: bottom;
  }